<p><img alt="RStudio layout" src="../fig/01-rstudio.png" /></p>
<hr/>
<p><img alt="RStudio layout with .R file open" src="../fig/01-rstudio-script.png" /></p>
<hr/>
<p><img alt="" src="../fig/02-bad_layout.png" /></p>
<hr/>
<p><img alt="Equality testing" src="../fig/rmd-06-equality.1.png" /></p>
<hr/>
<p><img alt="Equality testing" src="../fig/rmd-06-equality.2.png" /></p>
<hr/>
<p><img alt="" src="../fig/13-dplyr-fig1.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-vs-gdpPercap-scatter" src="../fig/rmd-07-lifeExp-vs-gdpPercap-scatter-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-2" src="../fig/rmd-07-unnamed-chunk-2-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-vs-gdpPercap-scatter2" src="../fig/rmd-07-lifeExp-vs-gdpPercap-scatter2-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-3" src="../fig/rmd-07-unnamed-chunk-3-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch1-sol" src="../fig/rmd-07-ch1-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch2-sol" src="../fig/rmd-07-ch2-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-line" src="../fig/rmd-07-lifeExp-line-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-line-point" src="../fig/rmd-07-lifeExp-line-point-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-layer-example-1" src="../fig/rmd-07-lifeExp-layer-example-1-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch3-sol" src="../fig/rmd-07-ch3-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lifeExp-vs-gdpPercap-scatter3" src="../fig/rmd-07-lifeExp-vs-gdpPercap-scatter3-1.png" /></p>
<hr/>
<p><img alt="plot of chunk axis-scale" src="../fig/rmd-07-axis-scale-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lm-fit" src="../fig/rmd-07-lm-fit-1.png" /></p>
<hr/>
<p><img alt="plot of chunk lm-fit2" src="../fig/rmd-07-lm-fit2-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch4a-sol" src="../fig/rmd-07-ch4a-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch4b-sol" src="../fig/rmd-07-ch4b-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-4" src="../fig/rmd-07-unnamed-chunk-4-1.png" /></p>
<hr/>
<p><img alt="plot of chunk noLegend" src="../fig/rmd-07-noLegend-1.png" /></p>
<hr/>
<p><img alt="plot of chunk ch5-sol" src="../fig/rmd-07-ch5-sol-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-5" src="../fig/rmd-07-unnamed-chunk-5-1.png" /></p>
<hr/>
<p><img alt="plot of chunk theme" src="../fig/rmd-07-theme-1.png" /></p>
<hr/>
<p><img alt="plot of chunk joyplot" src="../fig/rmd-07-joyplot-1.png" /></p>
